@page
@model Bootstrap4Model
@{
	ViewData["Title"] = "Bootstrap4";
}

<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

	<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />

	<title>Hello, world!</title>

</head>
<body>
	<div class="container">


		<h1>Hello, world!</h1>
		<br />
		<br />

		<div class="col-sm-5 mx-auto">
			<div class="card" style="font-size:25px">
				<div class="card-header">
					Mobile
					<i class="fa fa-wifi fa-pull-right"></i>
					<i class="fa fa-battery fa-pull-right"></i>
				</div>
				<div class="card-body py-lg-5 mx-auto">
					<div class="row mx-auto">
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-facebook fa-3x"></i>
							</button>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-twitter fa-3x"></i>
							</button>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-instagram fa-3x"></i>
							</button>
						</div>
					</div>
					<div class="row mx-auto">
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-map fa-3x"></i>
							</button>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-envelope fa-3x"></i>
							</button>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-rss fa-3x"></i>
							</button>
						</div>
					</div>
					<div class="row mx-auto">
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-address-book fa-3x"></i>
							</button>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-calendar fa-3x"></i>
							</button>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-play-circle fa-3x"></i>
							</button>
						</div>
					</div>

					<div class="row mx-auto">
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-heartbeat fa-3x"></i>
							</button>
						</div>
						<div class="col-sm-4">

							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-globe fa-3x"></i>
							</button>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-shopping-cart fa-3x"></i>
							</button>
						</div>
					</div>

					<div class="row mx-auto">
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-facebook fa-3x"></i>
							</button>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-twitter fa-3x"></i>
							</button>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-outline-primary m-2">
								<i class="fa fa-instagram fa-3x"></i>
							</button>
						</div>
					</div>

				</div>
				<div class="card-footer ">
					<button type="button" class="btn btn-outline-primary">
						<i class="fa fa-phone fa-3x"></i>
					</button>
					<button type="button" class="btn btn-outline-primary pull-right"><i class="fa fa-camera fa-3x "></i></button>
				</div>
			</div>
		</div>

		<br />
		<br />
		<br />
		<br />
		<br />

		<div class="d-flex flex-column-reverse">
			<div class="p-3 bg-danger">1</div>
			<div class="p-3 bg-purple">2</div>
			<div class="p-3 bg-dark">3</div>
		</div>

		<div class="row">
			<div class="col p-3 bg-danger">1</div>
			<div class="col p-3 bg-purple">2</div>
			<div class="col p-3 bg-dark">3</div>
		</div>
	</div>




	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/assets/js/vendor/popper.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>