@page
@model ChallengeModel
@{
	ViewData["Title"] = "Home page";
}

<html>
<head>
	<title>Challenge</title>


	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />


</head>
<body>

	<div>
		<div class="rownav container-fluid mx-auto">
			<div class="col">
				nav bar
			</div>
		</div>
		<div class="row1 container mx-auto">
			<div class="row container">
				<div class="col-sm-8">
					8
				</div>
				<div class="col-sm-4">
					4
				</div>
			</div>
			<div class="row container">
				<div class="col">
					4
				</div>
				<div class="col">
					4
				</div>
				<div class="col">
					4
				</div>
			</div>
			<div class="row container">
				<div class="col-sm-4">
					4
				</div>
				<div class="col-sm-8">
					8
				</div>
			</div>
		</div>
		<div class="rownav container-fluid mx-auto">
			<div class="col">
				nav bar
			</div>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</body>

</html>
