@page
@model ChallengeModel
@{
	ViewData["Title"] = "Challenge";
}

<div class="challenge row container-fluid mx-auto">
	<div class="col">
		nav bar
	</div>
</div>

<div class="challenge row container mx-auto">
	<div class="challenge row container">
		<div class="col-sm-8">
			8
		</div>
		<div class="col-sm-4">
			4
		</div>
	</div>
	<div class="challenge row container">
		<div class="col">
			4
		</div>
		<div class="col">
			4
		</div>
		<div class="col">
			4
		</div>
	</div>
	<div class="challenge row container">
		<div class="col-sm-4">
			4
		</div>
		<div class="col-sm-8">
			8
		</div>
	</div>
</div>

<div class="challenge row container-fluid mx-auto">
	<div class="col">
		nav bar
	</div>
</div>


