@page
@model CompleteModel
@{
	ViewBag.meta_title = "QuestionnaireThankyou";
	ViewBag.meta_keywords = "";
	ViewBag.meta_desc = "";
	ViewBag.theme = "questionnaire";
}



<div class="container questionnaire2">

	<h1 class="thankyou">
		<i class="fa fa-music"></i>
		Thank you!
		<i class="fa fa-music"></i>
	</h1>
</div>
