body {
	background: #ded9d9;
	background-image: url('../images/title.png');
	color: #000;
	font-family: Arial;
	font-size: 14px;
	/*text-align: center;*/
}

a {
}

	a:hover {
		color: #ff6a00;
	}

	a:focus {
		color: #ff0000;
	}

	a:visited {
		color: #ffd800;
	}


img {
	max-height: 125px;
	margin: auto;
}

#myCarousel img {
	max-height: 500px;
	margin: auto;
	text-align: center;
}

.ecard .row {
	/*border: 1px solid red;*/
	padding: 1rem 0;
	margin: 1rem 0;
}

.challenge {
	margin: 3rem 0;
	border: 1px solid blue;
	padding: 0;
}

	.challenge .col-sm-8 {
		background: pink;
	}

.anniversary {
	background: #f7f6a5;
}

.baby {
	background: #eeb4b4;
}

.birthday {
	background: #cff7b0;
}

.valentines {
	background: #f17daf;
}

.blackframe {
	background-image: url('../images/greytile.png');
	background-size: cover;
}

.goldframe {
	background-image: url('../images/greentile.jpg');
	background-size: cover;
}

.woodframe {
	background-image: url('../images/fabrictile.jpg');
	background-size: cover;
}
