body {
	background: #bb3d3d;
	background-image: url('../images/title.png');
	color: #ffd800;
	font-family:Arial;
	font-size:14px;
}

a {
	color: #fff;
}

a:hover {
	color: #ff6a00;
}

a:focus {
	color: #ff0000;
}
a:visited {
	color: #00ff21;
}
