body {
	background: #ded9d9;
	/*background-image: url('../images/title.png');*/
	color: #000;
	font-family: Arial;
	font-size: 15px;
	/*text-align: center;*/
}

p {
	margin-top: 3em;
}



.questionnaire {
	background: #000;
	background-image: url('../images/chinese-border-designs-clip-art_410699.png');
	background-position: top;
	background-repeat: no-repeat;
	color: rgb(224, 173, 52);
}

.questionnaire2 h1 {
	text-align: center;
	font-size: 6em;
	font-family: 'Euphoria Script', cursive;
	margin: 1.75em 0 .5em 0;
}



	.questionnaire2 h1 .fa {
		font-size: 60px;
	}

.questionnaire2 h5 {
	margin-top: 2em;
}

.questionnaire2 .form-check-label {
	margin-top: 1em;
}

.questionnaire2 .col-6, .col-12 {
	margin-top: 2.5em;
}

.questionnaire2 .col-4 {
	margin-top: 3em;
}

.questionnaire2 .col-1 {
	margin-top: 4em;
}

.questionnaire2 input {
	/*background: #f1eded;*/
	border: none;
	color: #383131
}

.questionnaire2 .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background-color: rgb(224, 173, 52);
	border: none;
	color: #383131;
	font-weight: 700;
}

.questionnaire2 .answer, .answer2 {
	color: #fbc893;
	margin: 0 1em;
	font-size: 1.25em;
	text-transform: capitalize;
}

.questionnaire2 .answer2 {
	text-transform: none;
}

.questionnaire2 h1.thankyou {
	margin-top: 4em;
}



a {
}

	a:hover {
		color: #ff6a00;
	}

	a:focus {
		color: #ff0000;
	}

	a:visited {
		color: #ffd800;
	}


img {
	max-height: 125px;
	margin: auto;
}

#myCarousel img {
	max-height: 500px;
	margin: auto;
	text-align: center;
}

.ecard .row {
	/*border: 1px solid red;*/
	padding: 1rem 0;
	margin: 1rem 0;
}

.challenge {
	margin: 3rem 0;
	border: 1px solid blue;
	padding: 0;
}

	.challenge .col-sm-8 {
		background: pink;
	}

.anniversary {
	background: #f7f6a5;
}

.baby {
	background: #eeb4b4;
}

.birthday {
	background: #cff7b0;
}

.valentines {
	background: #f17daf;
}

.blackframe {
	background-image: url('../images/greytile.png');
	background-size: cover;
}

.goldframe {
	background-image: url('../images/greentile.jpg');
	background-size: cover;
}

.woodframe {
	background-image: url('../images/fabrictile.jpg');
	background-size: cover;
}
